:root {
    --primery: #0096a3;
    --secondery: #FFFB00;
    --white: #fff;
    --grey: #F2F3F5;
    --tintRed: #EE4155;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

body p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

section {
    margin: 80px 0;
}

textarea {
    width: 100%;
    border-radius: 5px;
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    padding: 8px;
}

a {
    text-decoration: none !important;

}

.header {
    padding: 15px 0;
    background-color: var(--primery);
}

.leftside img {
    width: 250px;
}

.rightSide {
    gap: 25px;
    text-align: end !important;
    align-self: center;
}

.rightSide a {
    color: var(--white);
}

.subHeader {
    background-color: var(--grey);
}

.subHeader img {
    width: 150px;
    display: none;
}

.subHeader .nav-item {
    padding: 5px;
    font-weight: 600;
    gap: 10px;
}

.subHeader ul li {
    width: max-content;
    text-align: center;
    border-right: 2px solid var(--primery);
    width: 120px;
}

.subHeader ul li:hover {
    background: #ea9b9b;
}

.subHeader ul:nth-child(1) {
    border-left: 2px solid var(--primery);
}

.subHeader ul li a {
    color: black !important;
}

.navbar {
    border-bottom: 2px solid var(--primery);
}

.hero {
    position: relative !important;
}

.hero img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}


.innerHero {
    position: relative;

}

.innerHero .backFilter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 150, 164, 0.249);
    /* backdrop-filter: blur(3px); */
    padding: 30px 20px;
    border-radius: 6px;
    width: 100%;
    height: 580px;
}

.text {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 100px;
    background: rgba(0, 0, 0, 0.355);
    backdrop-filter: blur(5px);
    padding: 20px 30px;
    border-radius: 10px;
}

.text h1 {
    font-size: 42px;
    font-weight: 700;
    color: var(--tintRed);
}

.text span {
    color: var(--secondery) !important;
}

.nxtBtn,
.preBtn {
    width: 50px !important;
    height: 50px !important;
    z-index: 15 !important;
    background: red !important;
    top: 50% !important;
    border-radius: 50% !important;
}

.quoteForm {
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.355);
    backdrop-filter: blur(5px);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 3;
}

.quoteForm h3 {
    color: var(--secondery);
    font-weight: 700;
}

.quoteForm .submitBtn {
    background-color: var(--primery);
    width: 100%;
    color: var(--white);
    border: 1px solid black;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.aboutUsLeft img {
    width: 100%;
}

.underline {
    margin: 15px 0;
    height: 4px;
    width: 200px;
    background-color: var(--primery);
}

.services {
    background-color: var(--grey);
    padding: 80px 0;
}


.serviceCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    border: 3px solid var(--tintRed);
    background-color: rgba(192, 250, 255, 0.355);
    padding: 30px;
    border-radius: 10px;
}


.ourProcess {
    position: relative !important;
}

.ourProcess img {
    height: 90vh;
    width: 100%;
    object-fit: cover !important;

}

.ourProcess .effect {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(27, 55, 58, 0.249);
    backdrop-filter: blur(3px);
    padding: 30px 20px;
    width: 100%;
    height: 642px;
}

.processHeading {
    width: 100%;
    position: absolute;
    z-index: 6;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.processWrapper {
    position: absolute;
    z-index: 6;
    top: 40%;
    left: 0;
    width: 100%;
}

.innerCard {
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: max-content;
}

.count {
    position: absolute;
    top: 10px;
    left: -5px;
    width: 50px;
    height: 50px;
    background-color: var(--primery);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImgContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImgContainer img {
    width: 80px !important;
    height: 80px !important;
}


.testimonial {
    position: relative;
    background-color: var(--grey);
    padding: 80px 0;

}

.testimonialCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

}

.testimonialCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--primery);
    object-fit: cover;
}

.testimonialsText {
    text-align: center;
}

/* .testimonials .carousel-control-prev,
.carousel-control-next {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 130px !important;
    background-color: var(--primery) !important;
}
*/

.accordion-button {
    color: var(--primery) !important;
    background-color: var(--white) !important;
    font-weight: 600;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}



@media (max-width: 768px) {

    .leftside {
        display: none;
    }

    .rightSide {
        text-align: center !important;
    }

    .subHeader img {
        width: 150px;
        display: initial;
    }

    .navbar img {
        padding: 10px 0 !important;
    }

    .cardImgContainer {
        width: 120px;
        height: 120px;
    }

    .cardImgContainer img {
        width: 50px !important;
        height: 50px !important;
    }

    .innerCard h2 {
        font-size: 16px;
        margin: 10px 0;
    }

    .innerCard {
        margin-bottom: 20px;
    }

    .processWrapper {
        top: 30%;
    }

    .count {
        width: 40px;
        height: 40px;
    }


}